body {
    background-image: url(images/beach.jpg);
    font-family: 'Times New Roman', Times, serif;
    background-size: cover;
    background-position: center;
}

#content {
    background-color: lightblue;
    padding: 10px;
    margin: 15px auto;
    width: 70%;
    border-radius: 8px;
    color: white;

}

#main-nav li {
    list-style-type: none; 
    display:inline-block; 
}

#main-nav a {
    text-decoration: none;
    background: #C0C0C0;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}

#main-nav a:hover {
    color: lightgreen;
}

/* Table */
table {
    width: 90%;
    margin: 20px auto;;
    border: 5px solid lightgreen;
    border-radius: 10px;
    background-color: pink;
    padding: 1px;
}
/* Images */
.baby-dolphin {
    border: 5px solid lightgreen;
    padding: 1px;
    display: block;
}

.pod-dolphins {
    border: 5px solid lightgreen;
    padding: 1px;
    display: block;
}