/* Structure */

body {
    background-color: skyblue;
    font-family: 'Times New Roman', Times, serif;
}

#content {
    background: white;
}

.columns.all {
    display: flex;
}

img {
    max-width: 100%;
}

/* Header */
#main-header {
    position: relative;
}

#main-img {
    margin-right: 5px;
}

/* Login Menu */
#login-menu {
    width:fit-content;
    position: absolute;
    top: 3%;
    right: 3%;
}

#login-menu ul {
    padding-left: 0;
}

#login-menu li {
    list-style-type: none;
    padding: 5px;
}

#login-menu a {
    text-decoration: none;
}

#login-menu a:hover {
    text-decoration: underline;
    
}

/* Larger Resolutions */
@media only screen and (min-width:600px) {
    #content {
        width: 70%;
        margin: auto;
    }

    .columns {
        display: flex;
    }

    #settings {
        display: none;
    }
}