body {
    margin: 0;
    font-family: 'Berlingske Serif', 'Georgia', serif;
}

.top-bar {
    background-color: #000;
    color: white;
    padding: 10px;
    text-align: right;
    font-size: 12px;
    font-size: 9px;
    padding-right: 130px;
}

.top-bar a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
    font-size: 9px;
}

.spacer {
    margin-right: 10px;
}

.navbar {
    background-color: #000;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    align-items: center;
    padding-left: 150px;
    font-weight: normal;
    padding-bottom: 20px;
}

.navbar-left img {
    height: 50px;
}

.navbar-left .text {
    margin-left: 10px;
    color: white;

}

.navbar-left .text .university {
    font-size: 17px;
    font-weight: normal;
}

.navbar-left .text .south-carolina {
    font-size: 35px;
    font-weight: normal;
}

.garnet-menu {
    background-color: #7c0d0e;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.garnet-menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.header {
    text-align: center;
    color: white;
    padding: 0;
    font-size: 25px;
    position: relative;
}

.garnet-box {
    background-color: #7c0d0e;
    padding: 15px 15px; 
    height: 50px; 
    color: white;
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    position: absolute;
    bottom: -33px; 
    right: 27%; 
}

.header img {
    width: 100%;
    height: auto;
   
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
    background-color: white; 
}

.main-content {
    padding: 20px;
    text-align: center;
    width: 50%;
}

.main-content h1 {
    color: black;
    text-align: left;
    font-size: 18px;
    line-height: 2;
    padding-top: 20px;
}

.main-content p {
    max-width: 800px;
    margin: 20px auto;
    color: black;
    text-align: left;
    font-size: 15px;
    line-height: 2;
}

.cta-button {
    background-color: #7c0d0e;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.split-screen {
    display: flex;
    height: 400px; 
    margin-top: 20px; 
}

.split-screen .image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.split-screen .image img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
}

.split-screen .text {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: left;
    text-align: left;
    background-color: #7c0d0e; 
}

.split-screen .text h2 {
    font-size: 38px; 
    margin-bottom: 10px; 
    color: white; 
    text-align: left;
}

.split-screen .text p {
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    color: white;
    font-weight: normal;
}

.r-button {
    background-color: black; 
    color: white; 
    padding: 20px 20px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 0; 
    font-size: 16px; 
    border: 2px solid white; 
    box-sizing: border-box;
    width: 48%;
    font-weight: bold;
}

.investment-section {
    background-color: #f4f4f4;
    text-align: center; 
    padding: 20px; 
    padding-bottom: 50px;
}

.investment-section h2 {
    color: #5c0a09;
    font-size: 40px;
    text-align: center; 
    margin-bottom: 15px; 
}

.investment-section p {
    color: #000;
    line-height: 2;
    text-align: center; 
    max-width: 800px; 
    margin: 0 auto; 
}

.tandf-button {
    background-color: #7c0d0e;
    color: white;
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 0; 
    font-size: 16px; 
    margin-top: 20px; 
    border: 2px solid white; 
    font-weight: bold;
}

.box-section {
    padding: 20px;
    background-color: white;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.box-section h2 {
    color: #5c0a09;
    margin-bottom: 15px;
    font-size: 40px;
    padding-bottom: 5px;
}

.box-section p {
    max-width: 800px;
    margin: 0 auto 20px;
    color: #333;
    line-height: 2;
    padding-bottom: 30px;
}

.images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 10px; 
    margin: 0 auto;
}

.image-box {
    flex: 1; 
    max-width: 250px; 
    box-sizing: border-box; 
    text-decoration: none; 
    color: inherit; 
}

.image-box img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 0;
}

.text-box {
    text-align: center;
    padding: 10px;
}

.text-box .image-link {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #7c0d0e;
    text-decoration: none;
    text-align: left;
    font-weight: bold;
}

.text-box p {
    color: #333;
    margin: 0;
    line-height: 2;
    text-align: left;
}

.apply-now {
    background-color: #000; 
    color: white;
    padding: 0px;
    height: 100%;
    display: flex;
}

.apply-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

.apply-image {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.apply-image img {
    width: 290px; 
    height: 300px; 
    margin: 0;
}

.apply-text {
    flex: 2;
    padding-left: 20px;
}

.apply-text h2 {
    margin: 0;
    font-size: 24px; 
}

.apply-text p {
    margin: 10px 0;
    font-size: 16px; 
    line-height: 2;
}

.apply-button {
    background-color: #7c0d0e; 
    color: white; 
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 0; 
    margin-top: 10px;
    border: 2px solid white; 
}

#footer {
    background-color: #7c0d0e;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    position: relative;

}

#three-icons {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    display: flex;
    gap: 30px; 
}

#three-icons img {
    width: 50px; 
    height: 50px;
    object-fit: cover; 
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 60px;
    background-color: #7c0d0e;
    box-sizing: border-box;
}

#icon {
    display: flex;
    align-items: center; 
    gap: 10px; 
    position: absolute; 
    top: 20px; 
    left: 20px;
    background-color: #7c0d0e; 
    color: white;
    padding-left: 70px;
}

#bottom-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

#bottom-links ul {
    list-style: none;
    margin-top: 10px;
}

#bottom-links ul li{
    padding: 5px 0;
    font-size: 13px;
    color: white;
}


.text .university {
  font-size: 15px;
}

.text .south-carolina {
    font-size: 30px;
    font-weight: bold;
}

#bottom-links > div {
    flex: 1;
    position: relative;
}

.underline {
    display: block;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    width: 100%;
    font-weight: bold;
}

#bottom-links li {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li a {
    color: white;
    text-decoration: none;
}

.flex-container {
    display: flex;
    align-items: center;
}

#very-bottom {
    background-color: #000; 
    color: white;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

#very-bottom p {
    display: inline;
    margin: 0 5px; 
    font-size: 10px;
}

@media (max-width: 768px) {
    .top-bar {
        display: none; /* Hide the top bar when screen width is 768px or less */
    }
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .navbar-left {
        justify-content: center;
        margin-top: 10px;
    }

    .garnet-menu {
        flex-direction: column; 
        align-items: center;   
    }

    .garnet-menu a {
        display: block;
        margin: 10px 0;
        text-align: center; 
    }

    .navbar-left .text {
        text-align: center;
    }

    .top-bar {
        font-size: 10px;
    }

    .box-section {
        width: 100%;
        padding: 10px;
    }

    .images {
        flex-direction: column;
        align-items: center;
    }

    .image-box {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .image-box img {
        width: 80%;
        height: auto;
    }

    .text-box p {
        text-align: center;
    }

    .garnet-box {
        background-color: transparent;
        position: relative;
        bottom: auto;
        right: auto;
        margin-top: 20px; 
        color: #7c0d0e;
    }
}

