body {
   background: lightpink; 
   font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3 {
    color: white;
}

#content h2, h1 {
    text-align: center;
}

#content h1 {
    margin-bottom: 0;
    font-size: 3em;
    font-weight: normal;
}

#content h2 {
    margin-top: 0;
    font-size: 1.8em;
    font-weight: normal;
}

#content h3 {
    padding-left: 30px;
    font-size: 1.5em;
    font-weight: normal;
}

p {
    color: white;
}

#content a {
    text-decoration: none;
    color: lightskyblue;
}

.assignments-section, .projects-section {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin: 20px;
}

.assignments, .project {
    background: lightblue;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.assignments img, .project img {
    width: 100%;
    height: auto;
    display: block;
}

.assignments h3, .project h3 {
    margin: 10px 0;
}

.assignments p, .project p {
    margin: 10px 0;
    text-align: left;
}

.assignments a, .project a {
    display: block;
    margin-top: 10px;
    color: black;
}

/* Smaller Screen */
@media (max-width: 768px) {
    .assignments-section {
        flex-direction: column;
        align-items: center;
        gap: 7px;
    }

    .assignments {
        width: 50%; 
        margin: 1px auto;
    }

    .projects-section {
        flex-direction: column;
        align-items: center;
        gap: 7px;
    }

    .project {
        width: 50%; 
        margin: 1px auto;
    }
}
