body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: rgb(246, 249, 237);
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 5%;
}

.top {
    margin-bottom: 20px;
}

.title-top {
    font-size: 40px;
    margin: 0;
    padding: 10px 0 20px;
    color: #c9eec9;
}

.subtitle {
    font-size: 25px;
    color: rgb(255, 210, 217);
    margin: 0;
}

.bird-image {
    width: 200px; /* Set a fixed width for all bird images */
    height: 200px; /* Set a fixed height for all bird images */
    object-fit: cover; /* Ensures the image fills the area without distortion */
    border-radius: 5px; /* Optional: rounded corners for images */
    margin: 10px; /* Optional: margin around the images */
}

/* Bird container styling */
#bird-container {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: center; /* Center items */
    gap: 10px; /* Add space between items */
}

/* Modal styling */
.w3-modal {
    display: none; /* Initially hide modal */
    position: fixed; /* Position it fixed */
    z-index: 1000; /* Bring it to the front */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
}

/* Modal content */
.w3-modal-content {
    display: flex; /* Use flexbox for modal content */
    max-width: 800px; /* Limit modal width */
    margin: 15% auto; /* Center the modal */
    background-color: white; /* White background */
    border-radius: 5px; /* Rounded corners */
}

/* Modal left and right sections */
.modal-left {
    flex: 1; /* Take up available space */
    padding: 20px; /* Add padding */
}

.modal-right {
    flex: 1; /* Take up available space */
}

/* Modal image styling */
#modal-image {
    width: 200px;
    height: 200px;
    object-fit: cover; /* Cover aspect ratio */
    border-radius: 5px; /* Rounded corners for images */
}

/* Footer styling */
.footer {
    text-align: center; /* Center footer text */
    margin-top: 20px; /* Add top margin */
    font-size: 0.9em; /* Smaller font size */
    color: gray; /* Gray color for footer text */
}

/* small screen */
@media (max-width: 768px) {
    .columns {
        flex-direction: column;
        gap: 20px;
        align-items: center;    }

    .column1, .column2, .column3, .column4 {
        margin-bottom: 20px;    
        width: 60%;            
        margin-left: auto;     
        margin-right: auto;
    }
}