body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(246, 249, 237);
}

.title-top {
    color: #c9eec9;
    text-align: center;
}

#bird-container {
    display: flex;
    justify-content: center; 
    gap: 5px; 
    padding: 20px;
    width: 100%;
    max-width: 1200px; 
    flex-wrap: nowrap; 
    margin: 0 auto; 
}

.bird {
    flex: 0 0 330px; 
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
    height: 500px;
    background-color: pink;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bird .title {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: white;
}

.subtitle {
    color: rgb(255, 210, 217);
    text-align: center;
}

.bird .image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

.w3-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); 
    align-items: center;
    justify-content: center;
}

.w3-modal-content {
    display: flex; 
    background-color: rgb(255, 210, 217);
    margin: auto;
    padding: 20px;
    max-width: 800px; 
    position: relative;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
}

.modal-text {
    flex: 1; 
    padding-right: 20px; 
}

.modal-text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: white;
}

.modal-text p {
    margin: 5px 0;
    font-size: 1rem;
    color: white;
    padding: 10px;
}

.modal-image {
    flex: 0 0 250px; 
    display: flex;
    justify-content: center; 
}

.modal-image img {
    width: 100%; 
    height: auto;
    object-fit: cover; 
}

.w3-modal .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}


.footer {
    color: rgb(83, 202, 242);
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    #bird-container {
        display: flex;
        flex-direction: column; 
        gap: 5px;
        padding: 20px;
        width: 70%;
        margin: 0 auto; 
    }
    
    .bird {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        margin: 10px 0; 
        background-color: pink;
        padding-bottom: 130px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .bird .image {
        width: 100%;
        height: 300px;
        object-fit: cover; 
        margin-bottom: 10px;
    }
}
